#gallery {
  background-image: linear-gradient(to bottom, rgba(102, 116, 125), rgba(255, 255, 255));
}

/* Mobile */

@media (max-width: 768px) {
  .imageCarousel {
    width: 100%;
    height: 250px;
  }
}

/* Ipad */

@media (max-width: 991px) {
  .imageCarousel {
    width: 100%;
    height: 400px;
    padding-inline: 20px;
  }
}

/* Desktop */

@media (min-width: 992px) {
  .imageCarousel {
    width: 65%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
  }

  .wrapCarousel {
    padding-left: 100px;
    padding-right: 100px;
  }
}
