html,
body,
#root {
  height: 100%;
}

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.quiz .card {
  max-width: 480px;
  width: 100%;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background-color: aliceblue;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio + .radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}
